*.out
*.png
*.jpg
*.gif
*.html
*.properties
*.class
wpbd_src/
# Compiled Object files
*.slo
*.lo
*.o
.*.swp
.*.*.swp

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
